background-color: black;
h1 {
  color: white;
  text-align: center;
  <h1>I love FNAF (Five Nights at Freddys) more than my mother</h1>
  <p>It's a cash grab. 

Scott Cawthorn came out with 4 titles in a single year and people are eating this shit up.

The fanbase is annoying as hell. 

But I don’t know man,

the game and franchise got stale and uninteresting after Scott released the first book. 

it is just so damn confusing, and it caused many to lose interest.

Fuck,

My parents always force me to hang out with this little kid as part of family gathering and he's always adamant on making me play FNAF on his iPad as if Jesus himself made the game.

The Animatronic Characters here do get a bit quirky at night.</p>
<img src= "/fnaf/vanessa.jpg"> alt= "but im a material gorl
<img src= "/fnaf/gang.jpg"> alt= "me and the homies"
<img src= "/fnaf/lil broomstick.jpg"> alt= "the w h o l e cortex."
<img src= "/fnaf/background.jpg"> alt= "securing nothing in there" 
  
<h1>my mom took me out of the will</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BbeeuzU5Qc8?si=erkg19ZiLfW0LXRZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  
